APP_NAME=MKCards
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mkcards
DB_USERNAME=root
DB_PASSWORD=

ROUTEROS_HOST=172.16.0.1
ROUTEROS_PORT=8728
ROUTEROS_USER=apiuser
ROUTEROS_PASS=strongpassword
